doctype html
html(lang='ja')
  head
    title PIXI Sandbox
    link(rel='stylesheet', href='styles/main.css')
  body
    
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="scripts/vendor/jquery-1.11.2.min.js"><\/script>')
    script(src='scripts/vendor/pixi.js')
    script(src='scripts/main.js')
